[2014-08-22 12:31] SergejKasper opened #1 "Module parsing fails due to Unexpected token"
Hi,
thanks for the great work! I got the following error when parsing my template with the loader

`
Module parse failed: /path/to/my/project/node_modules/ngtemplate-loader/index.js!/path/to/my/project/node_modules/html-loader/index.js?module=snApp&relativeTo=/path/to/my/project/app/controllers/views/Pagelist/list.html Line 1: Unexpected token ;
`

My template looks as follows and does not contain

[2014-08-22 15:42] #1 closed, assigned to nobody

[2014-12-06 20:25] andrey-skl opened #2 ""RelativeTo" feature should be more clever"
To use loader in requre() call now I have to specify full path including username, i.e. `/Users/homemac/Documents/work/projectname/client/src/blocks/app/` and i don't want to using __dirname right in my sources.

This is really bad to store full path in code, so I want to store only piece of path in code, 'src/blocks/app/' for example.

[2014-12-21 18:45] #2 closed, assigned to nobody

[2014-12-25 20:17] huston007 opened #4 "Doesn't works on windows"
As we know, the windows path separator is dramatic different from other systems. So shouldn't we handle it in this loader?

[2015-01-12 19:38] epelc commented on #4
Will there be a fix for this soon?

[2015-01-14 09:31] WearyMonkey commented on #4
Hi @epelc, I will take a look tonight.

[2015-01-14 13:48] epelc commented on #4
@WearyMonkey Thanks this looks like it will fix my directives loading issue

[2015-01-19 18:30] #4 closed

[2015-02-19 20:18] ronnross opened #5 "Trouble loading templates"
We are using the ngtemplate-loader, but cannot get it to work even after following the example in the readme. Could you help? https://github.com/ronnross/angular-webpack-example

[2015-02-20 02:50] WearyMonkey commented on #5
Hi @ronnross, thanks for trying it out.

The main issue is that ngtemplate loader has a dependency on HTML or Raw loader.

The was also a mistake in the Read Me which I am fixing now.

ngtemplate loader tries to do the bare minimum, it just takes the HTML it's given and loads it into the cache. That way you can you use any other loader you like to do the image url resolution, minifying etc.

That

[2015-02-20 03:16] #5 closed

[2015-02-21 22:16] srigi opened #6 "Return templateUrl from require() call"
Thank you for this loader. It does great job. However it leads to some code duplication. Calling `require('some.html')` will generate JS code that only adds `some.html` to `$templateCache`. It would be great if that `require()` call would return `templateUrl`. It can be very clear on directive example:

[code]

As you can see I have to manually set `templateUrl` of the directive. It would be great

[2015-02-22 04:45] WearyMonkey commented on #6
Nice idea! I'll look into it.

[2015-02-22 06:00] #6 closed

[2015-02-22 07:00] srigi commented on #6
You are awesome, thank you.

[2015-04-25 05:06] atgillette opened #8 "Module not found: Error: Cannot resolve module 'html' in"
Hi,

I've set the configuration as:

module: {
		preLoaders: [
      { test: /\.js$/, loader: 'baggage?[file].html&[file].css'}
    ],
    loaders: [
  		// if you're going to do both ng-cache and normal html loading, comment out the two loaders
  		// and explicitly write the loader type yourself, e.g. require('html!./blah.html') or require('ng-cache!./blah.html')
  		// { test: /\.html$/, loader

[2015-04-25 06:41] atgillette commented on #8
Looks like I was missing:
{ test: /\.html$/, loader: "html-loader" },

Closing issue now.

[2015-04-25 06:41] #8 closed

[2015-04-25 06:52] atgillette opened #9 "$templatecache.get returns undefined"
I'm using webpack in conjunction with oclazyload. Although I see that the html template is properly processed when running webpack, when I load the bundle file using oclazyload and execute $templatecache.get('filename.html'), it returns undefined.

[2015-04-25 07:22] WearyMonkey commented on #9
Could be because configuration phase has already passed. I'll take a look.

[2015-04-25 08:43] WearyMonkey commented on #9
@atgillette The problem is that the template is loaded into $templatcache using a run block. Run blocks of lazy loaded modules don't get run by default, so templates in the lazy loaded modules wont be loaded.

Luckily ocLazyLoad has a work around `rerun: true`. Described:
https://oclazyload.readme.io/v1.0/docs/oclazyload-service
https://github.com/ocombe/ocLazyLoad/issues/89

Could you give it a s

[2015-04-25 15:28] atgillette commented on #9
Thanks for getting back to me.  Unfortunately, still no luck.

As an experiment, I tried requiring the html file in the main webpack bundle that is used for bootstrapping the app:

require('./mytemplate.html');

On:

.run(['$templateCache', function ($templateCache) {
    console.log('$templateCache', $templateCache.info());
  }])

outputs to:
$templateCache Object {id: "templates", size: 0}

So i

[2015-04-25 18:51] atgillette commented on #9
When I console log the result for require('./mytemplate.html'), this is what I got:

" var path = 'myTemplate.html'; window.angular.module('ng').run(['$templateCache', function(c) { c.put(path, "<p>Test Test</p>") }]); module.exports = path; "

[2015-04-27 19:57] WearyMonkey commented on #9
Thats strange. Could you share your webpack.conf? Or better yet, do you have a sample project with oclazyload setup?

[2015-04-28 01:47] atgillette commented on #9
I think the problem was that I was using this in conjunction with html-loader.

I'm no longer using either, instead opting to go with raw-loader for my project.

Thanks for responding.

[2015-04-28 01:47] #9 closed

[2015-04-28 03:05] WearyMonkey commented on #9
@atgillette I've been using ngtemplate-loader with html-loader with no issues.

Do you mind just pasting in your webpack.config.js so I can check for any bugs?

Cheers!

[2015-04-28 04:38] atgillette commented on #9
[code]

[2015-04-29 02:51] WearyMonkey commented on #9
Thanks, looks like the problem is that you have two html loaders defined:
[code]
When what you really want is just:
[code]

The way it works with that one line, is that HTML files will first be passed to the html-loader (`!html`) before being passed to ngtemplate-loader for more processing. ngtemplate-loader returns a snippet of JS to be included.

With the two tests that you have setup, the same

[2015-04-30 20:04] AprilArcus opened #10 "Doesn't work with dynamic require?"
I have a folder full of SVGs that I want to load with `ngtemplate-loader`. When I require them individually, everything works great, but when I try to require the entire folder by putting `require.context('.', false, /\.svg$/);` in an `index.js` file, `ngtemplate-loader` fails silently without adding them to `$templateCache`. The dynamic require works fine with e.g. `file-loader`, but I'm having t

[2015-04-30 23:02] AprilArcus commented on #10
Here is the module produced by manually requiring each SVG:

[code]

and here is the module produced by the dynamic require:

[code]

It appears that the latter construction will not call the IIFEs wrapping each template at load time, which breaks `ngtemplate-loader` / angular's side-effects driven module system.

[2015-04-30 23:14] AprilArcus commented on #10
I worked around this issue by manually calling the resolve function with each key at the import site.

[code]

I will write this up and add it to `README.md` in a PR.

[2015-05-01 01:03] #10 closed

[2015-05-01 01:05] WearyMonkey commented on #10
Thanks for that.

[2015-07-22 20:55] andresmatasuarez opened #14 "Issue with manually bootstrapped Angular app"
Hi

For the past few days, I have been trying webpack with my current Angular/Express seed app. I got to the point where I was starting to apply production build transformations to the source, such as ngAnnotate and ngTemplates.

So, I got to this loader and installed it and, sadly, have been fighting against it for the past few hours. The loader adds correctly the template entries to the $templat

[2015-07-25 05:01] WearyMonkey commented on #14
Hi @andresmatasuarez,

I am using ngTemplate with manual bootstrapping in a few projects with no issues, so I don't think that's the problem.

Could you please also share your webpack config? Or better yet, a small sample project?

Cheers!

[2015-07-25 19:48] andresmatasuarez commented on #14
Sure

The project is this: https://github.com/andresmatasuarez/angular-express-passport-seed/tree/webpack

I'm migrating from grunt to webpack builds in the branch "webpack". You'll find the webpack.config.js in the root folder.

Please let me know if you need anything else

[2015-07-30 21:27] idiotstrike opened #15 "All templates in a separate file"
Hello, first let me thank you for this awesome plugin, it really does help a lot.

While my setup currently works, I was wondering if there's a way to output all **required** templates into a separate file (templates.js) automatically.

My webpack.config.js:
    var path = require("path");
    var webpack = require("webpack");

    module.exports = {
        entry: {
            app: path.resolve(

[2015-07-31 04:15] WearyMonkey commented on #15
Hi @idiotstrike, sorry there is no inbuilt solution in ngtemplate loader, and I don't think it's in the scope.

What you want to look more into is 'code splitting'. I didn't see anyway to split based on file name (e.g. *.html), but there is this plugin for splitting on path: https://github.com/BohdanTkachenko/webpack-split-by-path

Hope that helps!

[2015-07-31 08:21] itstudiocz commented on #15
Amazing.

It looks like I'll be able to use this for both my vendors **and** my views. I can use the split by path plugin to bundle my vendors automatically and split by name to bundle my views.

I had no idea such plugins existed. Sorry for cluttering your own github about this and thanks again, it really does help a lot :<

[2015-07-31 08:23] idiotstrike commented on #15
Amazing.

It looks like I'll be able to use this for both my vendors **and** my views. I can use the split by path plugin to bundle my vendors automatically and split by name to bundle my views.

I had no idea such plugins existed. Sorry for cluttering your own github about this and thanks again, it really does help a lot :<

[2015-07-31 13:48] WearyMonkey commented on #15
Great, no worries :)

[2015-07-31 13:49] #15 closed

[2015-08-07 22:47] andresmatasuarez commented on #14
Hey, any news on this? have you had any time to check on this?

[2015-08-09 14:09] aganglada opened #16 "Load templates from different paths"
Hello,

I have a project which one I have different paths from I want to load my templates.

My question is, is there any way to specify different "&relativeTo=" in the config?

A solution for this could be super useful.

Thanks in advance!

[2015-08-13 11:08] ufocoder opened #17 "Require function in AngularJS templates"
I want use `require` function inside template, there's an example of usage:

[code]

After processing of this template by wepback, module with this template will look like this:

[code]

But require function should be replaced by __webpack_require__ function and the result module should be like this:

[code]

Additionally, `require` function can be used not only in `ng-include`, `ng-inline` direct

[2015-08-13 11:11] ufocoder commented on #17
As variant You can add special function to rewrite on fly content passed to loader:

[code]

[2015-08-13 11:22] ufocoder commented on #17
!18

[2015-09-10 15:43] shairez commented on #14
check if you're not trying to require from inside the `templateUrl` property

don't do this:
[code]
instead require from outside the module definition

hope it helps
check if you're not trying to require from inside the `templateUrl` property

don't do this:
[code]
instead require from outside the module definition

hope it helps

[2015-09-10 22:14] andresmatasuarez commented on #14
Will try it at home one of these days.

Just for curiosity, why is that not recommended?

[2015-09-10 23:07] shairez commented on #14
It creates the `run(function($templateCache)` only at the directive initialization time and not at the actual module run time.

So you fetch the template url before it gets into the cache

[2015-09-18 23:26] benoror opened #21 "Lexer Error on partial (ng-click)"
Hi,

I use [this pagination directive](https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination#customising--specifying-the-template) in my app, which make use of partial templates.

I can succesfully load the template, but when parsing it throws an error with any kind of **ng-click** attributes, in this case `ng-click="setCurrent(1)"`:

[code]

Any help would be apprec

[2015-09-19 04:23] ufocoder commented on #21
Could you show below part of your template?

[2015-09-19 17:41] benoror commented on #21
Sure, here's the whole thing: https://gist.github.com/benoror/3a19027214f35f40c27c

[2015-09-20 13:42] WearyMonkey commented on #21
@benoror I have tried to reproduce you error but pagination is working fine for me, even when I load your custom template through ngtemplate-loader.

Could you please provide more details. E.g. a complete project that produces the error?

[2015-09-20 13:57] WearyMonkey commented on #17
@ufocoder Sorry for the slow response, I have been migrating countries.

It's a nice idea, but my gut feeling is that it is outside the scope of ngtemplate-loader. Especially as it may break existing usages.

It should however be trivial to write a separate loader, that could be placed in front of the ngtemplate-loader and executes your above code.

Something like 'ngtemplate!inline-requires!foo.h

[2015-09-20 14:04] WearyMonkey commented on #16
Hi @aganglada,

You could do this by writing different loader tests in your webpack.config.js, something like:

[code]

You can read more about the loader tests [here](http://webpack.github.io/docs/configuration.html#module-loaders)

[2015-09-20 14:06] WearyMonkey commented on #14
@shairez thanks for helping.

@andresmatasuarez any updates?

[2015-09-22 00:30] benoror commented on #21
Hi @WearyMonkey, thanks for your response :+1:

Actually I also tried with [teux/ng-cache-loader](https://github.com/teux/ng-cache-loader), resulting in the same issue (https://github.com/teux/ng-cache-loader/issues/10)

Switching to [html-loader](https://github.com/webpack/html-loader) and importing as:

[code]

**This way seems to work fine!**

[2015-09-22 00:50] WearyMonkey commented on #21
Great!

[2015-09-22 00:50] #21 closed

[2015-09-22 03:38] #16 closed

[2015-09-22 18:08] aganglada commented on #16
Thanks @WearyMonkey I will try it out :)

[2015-09-25 18:16] monteirocode opened #22 "Raw html"
Hi, would it be possible to pass raw html instead of a url to use with `template:` instead of `templateUrl:`

For a use case similar to this:
[code]
[code]

[2015-09-25 23:34] andresmatasuarez commented on #14
Hi there. I have been reviewing this issue. Thanks @shairez for the unconditional help in advance.

I made the changes you guys suggested but I cannot make the thing to add the "angular.module('ng').run([$templaCache......" entries to any of my chunks.

I think they made some improvements, but I am still at it. I pushed the new code to the same branch (webpack) on my seed project. If you guys can

[2015-09-25 23:38] andresmatasuarez commented on #14
I placed some console.logs along this module code, and the whole string containing the "window.angular..." is constructed OK but somehow, it ends up not being added to my chunks-

[2015-09-30 13:20] andresmatasuarez commented on #14
Solved! My issue had nothing to do with this module, although I have already taken your advices as best practices  :smile: Thanks!!

[2015-09-30 14:15] ratbeard commented on #22
If you want an inline template string than you don't need this plugin, as its purpose is to populate $templateCache which is used by `templateUrl`.  Adding something like this - at the top of your file, as the readme points out - would probably work, and you just need jade-html-loader.

[code]

[2015-10-07 03:34] #14 closed

[2015-10-16 22:27] marksyzm commented on #9
It seems the use of `window.angular` causes havoc with OSX, I've worked out. If you're using this with `ExtractTextPlugin`, the use of `window` shows up as undefined. I would suggest using `this` instead of `window` so it works with all environments.

[2015-10-17 07:09] thebigredgeek commented on #9
^I am also getting this issue.

[2015-10-17 07:29] marksyzm commented on #9
In fact this also happens on ubuntu

[2015-10-21 20:53] stevermeister opened #24 "Missing FAQ for issues"
I'm trying to run it with `baggage-loader` and each time get

`Cannot resolve module 'html'`

[2015-10-21 22:49] WearyMonkey commented on #24
try `npm install html-loader --save-dev`

[2015-10-22 19:51] stevermeister commented on #24
@WearyMonkey it helped! thanks a lot!

[2015-10-22 19:51] #24 closed

[2015-11-11 05:00] rob-balfre opened #27 "Cannot resolve module 'html'"
I'm trying to get the ngtemplate-loader and baggage working together but keep getting this error:

`Module not found: Error: Cannot resolve module 'html' in /app-name/src/directives/directive_name`

My folder structure is the same as your README example. Bit stumped!

[2015-11-11 05:10] WearyMonkey commented on #27
Have you tried `npm install html-loader --save-dev` ?

[2015-11-13 00:18] geddski opened #28 "relativeTo issue"
Anytime I try a `relativeTo` path I get this error:

[code]

I've tried the following:

[code]

[2015-11-15 22:32] rob-balfre commented on #27
Seemed to do the trick I think :+1:

[2015-11-15 22:32] #27 closed

[2015-11-16 11:20] mdreizin opened #29 "interpolateName + placeholders"
It would be nice if all query params could be processed via `loaderUtils.interpolateName()` like it does [file-loader](https://github.com/webpack/file-loader/blob/master/index.js#L11-L15). Also it would be nice if developers can use some placeholders for instance like [baggage-loader](https://github.com/deepsweet/baggage-loader/blob/master/lib/util.js#L13-L16).

It would be very useful when you ha

[2015-11-16 11:34] WearyMonkey commented on #29
Those would be nice, I'll look into it :)

[2015-11-16 11:39] mdreizin commented on #29
@WearyMonkey Looking forward to get it.

placeholders

[code]

interpolateName

[code]

[2015-11-17 00:11] geddski commented on #28
@WearyMonkey any idea what could be causing this issue? I'm blocked on it.

[2015-11-30 20:27] alexsandro-xpt commented on #17
Any progress for ng-include ?

[2015-12-04 00:17] icfantv commented on #17
same ? as @alexsandro-xpt, anyone ever take a gander at a loader for when ng-include is used?

[2016-01-26 06:15] alex88 commented on #27
Just encountered the same issue, maybe worth adding it as peerDependency?

[2016-01-26 07:41] WearyMonkey commented on #27
@alex88 no I don't think so, as `html-loader` is only one option and part of the configuration. You could also use it with `raw-loader` or any number of template loaders.

[2016-01-26 07:51] alex88 commented on #27
@WearyMonkey oh nvm then, your right!

[2016-01-30 04:15] voor opened #31 "Invalid HTML causes Webpack to Hang"
Sorry I don't really have any sort of log output, since Webpack will just idle for ages whenever UglifyJS2 gets a hold of invalid HTML.  Some of the causes we've had that triggered this:

- Not properly closing tags `<div><div></div>` or some such
- Invalid HTML syntax like `class""` instead of `class=""`

This wouldn't be such an issue, except the log doesn't indicate any issues at all.  Is there

[2016-01-31 01:34] WearyMonkey commented on #31
Hi @voor, I doubt this is an issue with `ngtemplate-loader` as it doesn't do any HTML parsing/processing.  It might be an issue the `html-loader` or the template loader you are using.

Could you please post your `webpack.config` so I can provide more suggestions?

[2016-02-04 21:28] alex88 opened #32 "Development conditionals"
Hi there, I'm not sure it's the correct place to ask for help but probably is something this library could help do,

in js, within webpack with the define plugin you can do:
[code]

this code is completely removed from build because it will be interpreted as `if(false)`, you think it's possible to do the same with this plugin?

Like conditionally include the html for debugging purposes (e.g. dev o

[2016-02-04 22:11] WearyMonkey commented on #32
@alex88 I don't think that is with in the scope of this loader. Because loaders can be chained and combined easily, it's best for loaders to focus on their core features.

Sounds like what you want is a loader to sit in front of ngtemplate loader, something like:
`require('dev-conditions!ngetmplate!html!./foo.html')`

Not sure if such a plugin exists. If not, maybe you could write one? Writing loa

[2016-02-04 22:14] alex88 commented on #32
@WearyMonkey thanks for the fast response, I'm not sure if a loader should do the work or something like that, maybe this can be solved just by a template loader, something that lets me inline javascript in the html? I'll dig more, thanks

[2016-02-04 22:14] #32 closed

[2016-02-08 23:51] wakurth commented on #9
this happens on windows as well

[2016-02-09 00:10] WearyMonkey commented on #9
@wakurth can you send me you `webpack.config` please

[2016-02-09 22:42] paynoattn opened #33 "throws error when using inside ES6 Modules"
This is a great loader, I have a strange issue though. I got this to work fine, until I tried moving it to a ES6 modules.

It throws an error that it doesn't know what 'angular.module' is. Offending error is:
```'Uncaught TypeError: Cannot read property 'module' of undefined'```
from my bundle: ```'window.angular.module('ng').run(['$templateCache', function(c) { c.put(path, html) }])'```

app.js
[

[2016-02-10 04:07] paynoattn commented on #33
Whoops, I forgot to import 'angular' in my app-config.js. I didn't think I needed it because I wasn't using any props of the angular object, but apparently you do.

fix is for app-config.js:

[code]

[2016-02-10 04:07] #33 closed

[2016-02-15 20:10] dagda1 opened #34 "rendered content has module.exports in output"
My rendered output looks like this:

![exports](https://cloud.githubusercontent.com/assets/118328/13059095/c21090f8-d41f-11e5-88b8-d1ac16fc8354.png)

I am using angular 1.5 and I am creating components like this:
[code]

And my webpack.config.js looks like this:

[code]

[2016-03-04 01:57] tphan18 commented on #34
Yes. I got the same issue.

[2016-03-18 17:19] rrecaredo commented on #34
I was having exactly the same problem and I solved it changing require('ngtemplate!html!./home.html') for require('ngtemplate!./home.html');

Notice I removed the html-loader from the expression.

[2016-03-22 16:49] deini commented on #22
It would definitely be a nice thing to have. My use case: I want to be able to use both, raw html imports and templateCache.

I tried to refactor an app to use just raw html, but things like dynamic `ng-include` won't work. So I was thinking on doing templateCache + raw.

[2016-03-29 00:22] icfantv commented on #4
I'm confused here.  I have everything set up with *nix style path separators and it works great.  When I try to build on windows it barfs.  I see [this](https://github.com/WearyMonkey/ngtemplate-loader#path-separators-or-using-on-windows), but the way I'm reading the above comments, the build tool (aka, this library) should be properly handling my *nix style paths but I don't think it is.

Can som

[2016-03-31 04:49] denich commented on #29
+1

[2016-04-01 06:39] worldspawn commented on #34
I have the same issue and when i remove !html i get a Module parse failed error...

[2016-05-06 20:52] Axure commented on #34
@rrecaredo That works for me!

[2016-05-13 14:33] edi9999 opened #37 "Add license.md"
Is this MIT ?

[2016-05-15 12:07] neekey opened #38 "module( 'x' ).run() will not run asynchronously"
Hi, I'm trying to build a SPA which load controllers and templates asynchronously. I have a dashboard module like below:

[code]

and in some point I will dynamically load this module:

[code]

In the dev mode, I can see that ngtemplate-loader had generated the correct code, but I can not get the html from `$templateCache.get()`, then I hack the source code of `ngTemplate-loader`, add some debug c

[2016-05-15 12:11] neekey commented on #38
this https://github.com/WearyMonkey/ngtemplate-loader/pull/26 seems to solve this problem

[2016-05-20 09:46] bushybuffalo opened #39 "can't get webpack config loader to work"
I'm trying to set up a loader in my webpack.config juste like advised in the readme of the repo, but I can't get it to work.

My project is structured like this:

src/
└── app/
&nbsp;&nbsp;&nbsp;├── app.js
&nbsp;&nbsp;&nbsp;└── streams/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── streams.js
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── templates/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└── str

[2016-05-20 12:20] bushybuffalo commented on #39
I got it to work with this loader:
[code]

Still, I'd really like to know why it won't work with html-loader !

[2016-05-20 17:58] #39 closed

[2016-05-28 10:16] Davste93 opened #40 "Auto-create module"
My configuration is as follows:

Entry points to include all templates:
`    templates: glob.sync("./src/app/**/*.tpl.html"),`

Loader to add templates to module:
[code]

Load order:

This is because the app 'requires' the templates module. I need a way to ask ngtemplate to create the myapp.templates module for me. Is this possible?

[2016-06-09 15:59] Lughino opened #41 "window is not defined"
This loader does not work on os x!
always returns `ERROR in   ReferenceError: window is not defined`.
This is my setup:
[code]

[2016-06-11 10:44] Lughino commented on #41
Well, the problem is that it is necessary to exclude the `index.template.html` file that is passed to the plugin `html-webpack-plugin`, in this way:
[code]

@WearyMonkey It would be useful to put this in the documentation!

[2016-06-11 10:44] #41 closed

[2016-06-14 02:19] e-cloud commented on #40
your `myapp.templates` module is created by `ngtemplate-loader` indeed. But you have to add the module name to your app dependencies manually.

if i understand your problem correctly

[2016-06-14 05:55] e-cloud commented on #31
@voor , you can use some `htmllint` loader in `preloader` for such kind of check.

[2016-06-14 07:48] e-cloud commented on #34
I find out that it's because you use another `raw` loader in  the configuration. See [here](http://webpack.github.io/docs/loaders.html#loader-order).

After processed by `ngtemplate-loader`, your html file was processed again by `raw-loader`. That's why it comes up with `module.exports`.

[2016-06-14 07:55] e-cloud commented on #22
it can be implemented introducing a *breaking change* like the generated module export an *object* with `url` and `content`, not just an `url`.

[2016-06-14 07:59] e-cloud commented on #17
as far as I can remember, that kind of functionality can be done by [`html-loader`](https://github.com/webpack/html-loader#interpolation)

[2016-06-14 08:07] e-cloud commented on #37
don't you see it in the package.json

[2016-06-14 08:42] edi9999 commented on #37
Ok, it is there, but usually, projects also put this in a file called licence.md, it makes things clearer I think

[2016-06-14 08:59] e-cloud commented on #37
you are right. you can make a pr

[2016-06-14 09:46] edi9999 commented on #37
Yep , see #43

[2016-06-14 13:36] icfantv commented on #17
Turns out one doesn't actually need this feature.  If one preloads the app's templates, they're already in the template cache and thus, one just uses the correct URL, without `require`.  This is what we do and it works quite well.

[2016-06-15 01:31] e-cloud commented on #17
yes, but it will need another variable to reference the url (what i'm doning) or write it mannually

[2016-06-15 02:18] icfantv commented on #17
@e-cloud, are you using my-include to dynamically select templates?  I'd argue that's not proper, especially if you want to use webpack.  You can simply create a wrapper directive that selects the right template and load them in that directive.  We also do this in some (rare) cases.  It will totally bork upgrading to ng2...

[2016-06-15 02:30] e-cloud commented on #17
`my-include`? I guess you're talking about `ng-include`. Just a few case of that kind of usage

[2016-06-15 04:25] icfantv commented on #17
Gah!  Yes, that's what I get for typing on a phone...._autocorrect_...

I just realized, you're not the original poster of this issue - my comments were geared towards @ufocoder 's original post.

[2016-07-01 03:06] bornkiller commented on #38
The same issue when define route templateUrl, how do you resolve this? @neekey

[2016-07-06 23:56] jagregory opened #48 "New NPM release"
Hey everyone, I'd like to use the `requireAngular` feature but a release hasn't been pushed to NPM yet which contains it.

[2016-07-12 13:42] vadimi opened #49 "Case sensitive comparison issue on Windows, node 6.3"
Due to a bug [https://github.com/nodejs/node/issues/6624](https://github.com/nodejs/node/issues/6624) in node 6.x `ngtemplate` loader fails on Windows. While doing `resource.indexOf(relativeTo)` it cannot find a part of the relative path as `indexOf` is case sensitive. Any chance to change it to case insensitive on Windows (or do `toLower()` before `indexOf()`)?

[2016-07-16 08:56] k-stasevich commented on #17
"ngtemplate-loader": "1.3.1",

/**
 * build templates form angular
 */
  { test: /\.html$/, loader: "ngtemplate?relativeTo=" + (path.resolve(__dirname, './src/app')) + "/!html" }

<ng-include src="'components/header/navigation/navigation.html'"></ng-include>        // WORK!
<ng-include src="'./components/header/navigation/navigation.html'"></ng-include>      // NOT WORK!
<ng-include src="'/compone

[2016-07-17 14:49] edencore commented on #27
At least this should be mentioned in README I think. I thought it was something with my paths before I found this issue

[2016-07-30 07:13] christianacca commented on #48
In the meantime you can install this package directly from the commit in github:

[code]

[2016-07-31 19:53] noherczeg commented on #34
I was banging my head by this for like an hour. Should've checked the issues. @rrecaredo 's solution worked for me as well. Thanks!

[2016-08-01 14:08] #37 closed

[2016-08-01 14:09] #34 closed

[2016-08-01 14:09] #31 closed

[2016-08-01 14:19] WearyMonkey commented on #17
Closing as out of scope.

[2016-08-01 14:19] #17 closed

[2016-08-02 14:41] amcdnl commented on #29
@mdreizin did anything ever progress w/ this? Very interested.

[2016-08-02 14:44] mdreizin commented on #29
@amcdnl I don't have any plans to implement this feature :(

Probably @WearyMonkey will do that.

[2016-08-02 14:45] amcdnl commented on #29
Did you have a work around you came up with?

[2016-08-02 14:48] mdreizin commented on #29
@amcdnl No, I don't have workaround for that, but from my point of view it is easy to implement.

@WearyMonkey may extract that approach from https://github.com/mdreizin/angular-translate-loader/blob/master/src/interpolateValue.js

[2016-08-03 02:09] WearyMonkey commented on #29
@amcdnl I'll take a look at this week.

[2016-08-03 12:16] amcdnl commented on #29
@WearyMonkey I ended up forking, I needed a different export too so didn't make sense to bother u with this. https://github.com/swimlane/ngtemplate-loader/blob/master/index.js

[2016-08-16 17:52] vadimi commented on #49
Closing this as it has been fixed in nodejs `6.4.0`. Here is the issue [https://github.com/nodejs/node/pull/7899](https://github.com/nodejs/node/pull/7899)

[2016-08-16 17:52] #49 closed

[2016-08-22 21:17] amaschas opened #50 "Template inexplicably not loaded from $templateCache"
I've noticed this issue in two projects thus far. The loader will properly stick the template into the cache, but somehow can't retrieve it. So for instance, if this fails:

[code]

and this fails:

`templateURL: <pasted value of template var>,`

but this works:

[code]

In many cases, the template will properly load for some directives or components and fail for others.

[2016-08-24 09:14] bmbell opened #51 "Unique Template Modules Per Entry Point?"
Say I have 3 entry points:

config.entry = {
        "a": [root("modules/a")],
        "b": [root("modules/b")],
        "c": [root("modules/c")]
};

I'd like to be able to create template modules for each of these:

// angular.module('aTemplates').run(['$templateCache', ...
// angular.module('bTemplates').run(['$templateCache', ...
// angular.module('cTemplates').run(['$templateCache', ...

Is th

[2016-08-30 14:23] morungos commented on #9
Yes, I'm getting this too. And it's definitely a timing issue. Adding the extra require 'template/x.html' does seem to warm up the template cache.

[2016-08-31 14:13] alex87 commented on #50
Hi, I just ran into to a similar issue - some templates not being loaded despite being in the template cache.

It turned out I was requiring the template in the wrong place, so the code to put it into the template cache was not being executed until to late.

I was doing this:
[code]
And I fixed it by putting the templates require outside of the angular code.
[code]

I'm not sure if this would be t

[2016-10-10 20:31] amaschas commented on #9
I am also running into this problem. I can send my webpack.config if it would be helpful.

[2016-10-18 14:50] cgatian opened #52 "Throw error instead of warning on compression errors"
If a html template is unable to be compressed by the UglifyJsPlugin, this loader throws a warning, when it should throw an error.

By only throwing a warning the build succeeds even when --bail and the NoErrorsPlugin is configured.  Ideally, if the html cannot be compressed an error should be thrown.

![image](https://cloud.githubusercontent.com/assets/1752170/19482875/6c82d8f4-9520-11e6-97b2-b85b

[2016-11-01 15:26] pselden commented on #48
👍

[2016-11-17 21:28] ClementParis016 opened #53 "Use with ng-include, ng-messages-include & friends?"
I was wondering what would be the good way to handle templates with `ng-include` or `ng-messages-include`.

For example, the following code will fail as it tries to load the template without hitting `$templateCache`:

[code]

I've tried a few things, like writing `import errorMessageTemplate from './error-messages.html` in my main module, but it doesn't work :(
Any suggestions?

[2016-11-17 22:10] ClementParis016 commented on #53
Pushing my investigation further, I came across #17 which led me to the following working solution:

[code]
[code]

It still feels a bit hack-*ish* but looking at how this loader works it makes complete sense.

[2016-11-17 22:10] #53 closed

[2016-11-29 21:38] PizzaPete commented on #50
We're having the same issue.
Using the way @alex87 did, also fails for us:

`templateUrl: require('./template.html')`

Using the fix of @alex87 it works. Although it would be better to import the template directly in the component/directive declaration.

[2016-12-18 03:09] DSpeichert commented on #48
Important: version 1.3.1 in this repo is not the same as 1.3.1 i npm.

[2017-02-28 13:36] sairam opened #55 "With a recursive require - templateUrl should start with /"
Hi,

I have used ngtemplate-loader with webpack 1.x and 2.x (upgraded within a day) (using Angular 1)
Upgrading to 2 got me into some trouble.

I was using the helper to load all templates recursively. templateUrl with `root.html` was working in 1.x. I had to change it to `/root.html` to get it working with webpack 2.x. The missing `/` was the problem.

[code]

adding this here so that others can

[2017-02-28 13:36] #55 closed

[2017-04-03 23:39] jamie-pate opened #56 "Throws a string when 'The path for file doesn\'t contains relativeTo param'"
Throwing a string does not appear to be supported with the output of webpack. This code should throw a new `Error` instance with the message set to `'The path for file doesn\'t contains relativeTo param'`

[2017-04-03 23:46] #56 closed

[2017-05-03 17:45] djwe opened #58 "How to hot replace changed templates?"
First of thanks for the very useful loader. I'm using ngtemplate-loader in my angular 1.x app. On running with --hot and changing a template html file I can see a log that the loader processes it. But the template in the webapp is not changed. How to get started in extending the above loader or writing a new module which hot reloads such templates?

[2017-05-05 20:20] mribichich commented on #41
Same happend to me, I didn't see it in the docs. It fixed it!

[2017-05-10 11:40] amitport opened #60 "DeprecationWarning: loaderUtils"
https://github.com/WearyMonkey/ngtemplate-loader/blob/b5390e0f2e75e0c602e1494584c6cbff3b3f2252/index.js#L8
causes: (with webpack 2.5)
[code]

[2017-05-19 13:38] thekip commented on #60
same issue

[2017-06-10 05:09] WearyMonkey commented on #52
Looks like the error stack is originating from `html-loader`, not `ngtemplate-loader`.

[2017-06-10 06:41] WearyMonkey commented on #29
Fixed in https://github.com/WearyMonkey/ngtemplate-loader/commit/cd04b0b16d5e30e030e51b5f9f212552d086c975

[2017-06-10 06:41] #29 closed

[2017-06-10 06:42] WearyMonkey commented on #51
Can not be achieved using `module` parameter interpolation. https://github.com/WearyMonkey/ngtemplate-loader/commit/cd04b0b16d5e30e030e51b5f9f212552d086c975

[2017-06-10 06:42] #51 closed

[2017-06-10 06:43] WearyMonkey commented on #60
Fixed in https://github.com/WearyMonkey/ngtemplate-loader/commit/0a488ef988806e3658c76b8949765b0a0c058954

[2017-06-10 06:43] #60 closed

[2017-06-10 06:56] WearyMonkey commented on #48
2.0.0 released.

[2017-06-10 06:56] #48 closed

[2017-06-15 13:09] victordidenko commented on #4
@WearyMonkey in version 2.0.0, while build on Windows, template path separators become "\\\\". In version 1.3.1 everything was working fine.

[2017-06-20 00:42] zaalbarxx opened #61 "Generated file path is causing problems on Windows"
Hi!
I've found one problem with the current method of generating the key for template in cache. Given `app/component/include.html`  and this code
`var filePath = path.join(prefix, resource.slice(relativeToIndex + relativeTo.length))`
on Windows the generated key will be `app\component\include.html` which seems to be bad since I suppose that all template keys should have URL-like separator which is

[2017-06-20 06:09] anandhasubha commented on #61
Facing the same problem. Though I work on Windows, I am requiring all files in unix style paths since the target machine for deployment is linux. However path.join overwrites the forward-slash '/' with backward-slash '\'.
`var filePath = path.join(prefix, resource.slice(relativeToIndex + relativeTo.length))` -- line# 41 in index.js
Is there a work-around?

[2017-06-21 11:30] #61 closed

[2017-06-22 17:04] victordidenko commented on #4
Fixed in version 2.0.1, thank you!

[2017-07-04 08:33] eekboom opened #63 "Cannot use ES6 modules and TypeScript"
I have tried a lot of different configuration settings to be able to load my templates like so:

[code]

However either all I get from the template import is either "undefined" or an error:

[code]
See example project at https://github.com/eekboom/ng-webpack (and also the stackoverflow question at https://stackoverflow.com/questions/44889493/ ).

[2017-07-12 10:11] IdanCo opened #67 "Parameter Interpolation"
I'm trying to make my code more pretty by replacing this -
`templateUrl: 'foo/bar.template.jade'`
with this
`templateUrl: 'foo/bar'`

Something similar was implemented in PR #35 which was dismissed by @WearyMonkey who said

But even after reading [Parameter Interpolation](https://github.com/WearyMonkey/ngtemplate-loader#parameter-interpolation), and subsequently [Webpack's standard interpolation r

[2017-07-12 11:56] IdanCo commented on #67
found a little hack that does the job thanks to @GuyPie -

[code]

[2017-07-24 15:48] graingert opened #68 "changelog"
please add release notes and a changelog, especially for semver major changes.

[2017-07-24 16:07] graingert opened #69 "sensible defaults"
default to requireAngular enabled
default to relativeTo being the webpack config file dir.

[2017-08-10 20:25] simshanith opened #70 "Webpack v3 loaderUtils.parseQuery() deprecation warning"
See webpack/loader-utils#56

When using `webpack 3.5.2` with loader `options` configured instead of `query`:

[code]

Relevant Configuration:

[code]

[2017-08-10 20:27] simshanith commented on #70
Everything still works FWIW; just an annoying warning that would need to taken care of here.

[2017-08-10 20:42] simshanith commented on #70
Oops, I wasn't yet using v2.0.1. Apologies for my confusion.

[2017-08-10 20:42] #70 closed

[2017-09-12 01:25] mribichich commented on #63
is there any news about this? thanks

[2017-09-22 05:53] karthikdeva opened #73 "ERROR in Error: Child compilation failed: Module build failed: Error: The path for file doesn't contain relativeTo param"
I'm new into webpack and trying move gulp to webpack.  facing issue in "ngtemplate-loader". Below is my webpack config.

const path = require('path');
const webpack = require("webpack");
const optimize = webpack.optimize;
const htmlWebpackPlugin = require('html-webpack-plugin');
const ExtractTextPlugin = require('extract-text-webpack-plugin');
const CopyWebpackPlugin = require('copy-webpack-plugin

[2017-11-17 07:11] yankwan opened #74 "Error ReferenceError: window is not defined"
When I run npm run server to start the webpack dev server, it report the error such as below:

[code]
I'v been install the html-loader and ngtemplate-loader, and the relative webpack.config.js is:

[code]

[2017-11-17 07:23] yankwan commented on #74
As I exclude the entry template html file in ngtemplate-loader, it fix the ReferenceError, but on the console it report the new error :

[code]

[2017-11-17 15:27] SamanthaAdrichem opened #75 "ng-include relativeTo prefix slash"
We've been using angular for quite a while now, and have always included templates from the app/root director like this

file is at app/pages/page/template.html
templateUrl: 'pages/page/template.html'

your plugin however adds a / infront of it.

Now with the default require, that is not an issue, because we use it like
var templateUrl = require("pages/page/template.html")
templateUrl: templateUrl

[2017-11-20 12:23] yankwan commented on #74
I found that I should impot the angular `import angular from 'angular'` before I import other things like view.html or other js file

[2017-12-07 15:29] pjparra commented on #75
Hi,
I struggled quite a bit with this loader (but I'm also new to webpack, so a lot of my struggles were just webpack related).

Did you try something like this?
`'ngtemplate-loader?relativeTo=' + (path.resolve(__dirname, './app')) + '/'`

I just had a similar problem, and adding the trailing / to the relativeTo option fixed it.

[2017-12-07 15:53] SamanthaAdrichem commented on #75
Will try that tomorrow! Thnx

[2018-01-11 13:06] vijaybritto opened #76 "Breaks while requiring html files that start with comments"
This is the error that I get:
`Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.
| `

my loader config is:
[code]

I have installed both loaders and its working for files that don't start with a comment. I don't know if this is an issue with ngtemplate-loader or the html-loader.

[2018-01-13 10:04] vijaybritto commented on #76
Closing this. The issue was not with the loader but the config.

[2018-01-13 10:04] #76 closed

[2018-01-17 15:20] Airboy opened #77 "relativeTo parameter is not working"
Hi,

I'm a bit confused by this loader, I'll try to set up a very straightforward config where all my HTML files are located into a templates folder (see the folder structure below). Thus if I have correctly understood the way this module works, I defined the following config:

**webpack.config.js**
[code]

**Folder structure**
[code]

When I try to require my `templates/root.html` from my angular

[2018-02-15 11:55] neilshah2000 commented on #34
If i remove the html-loader for the expression, i get an error "You may need an appropriate loader to handle this file type" so that doesn't work for me

[2018-02-16 09:54] rahulgupta20nov opened #79 "Directive templateurl is not working with lazyloading module in ui-router."
Hi,
I am using oclayload for load module lazily, and make split chunks using web pack. Some directive depends on lazily load the module when any state invoke, In directive have templatedUrl these are not registered lazily and showing 404 not found file.html.

[2018-02-21 15:25] Vitenok opened #80 "Loader injects strange text in generated html file. ERROR "window is not defined " if html-loader is after ngtemplate-loader in config"
Hi, I'm trying to switch my Angular 1.5.3 app to use Webpack 3.10.0 for bundling and using  ngtemplate-loader to make angular templates work.
Would appreciate any help since I'm stuck with this for quite a long time.

The problem I'm getting now is strange text which wraps `<html></html>` tags in generated html file :
### Generated wdist/index.html:
[code]
### Project structure
    +app
    +--fon

[2018-02-22 07:38] Vitenok commented on #73
Hi @karthikdeva , have you solved this issue?

[2018-02-22 10:53] Vitenok commented on #80
`index-webpack.html` was not excluded because exclude needs to be not inside options.  This part is not covered in documentation at all which is kinda sad. My config partial now looks like this:

[code]

I also had to remove '?relativeTo=' + __dirname + '/app/views' part from loader definition as it was causing errors. I beleive this syntax does not work in Webpak 3.

[2018-02-22 10:56] #80 closed

[2018-02-22 17:53] ghuser commented on #22
var templateUrl = require('raw-loader!./mydirective.template.html');
{...
template: templateUrl,

[2018-03-06 15:45] jfmoy commented on #79
If you want to load modules lazily, you can do it by removing ngtemplate-loader, and using html-loader directly for processing your html templates. Your templates should then be passed to your directives/states using the template property after a standard import.

[2018-03-07 05:19] rahulgupta20nov commented on #79
Thanks, @jfmoy ,
In that case, HTML files will be rendered from a server, I want to avoid this situation.
[https://www.npmjs.com/package/gulp-angular-templatecache](url), This Gulp plugin is working fine with the Lazy load. But I am not able to use both (Webpack and Gulp template cache plugin). I want a solution like this.

[2018-03-15 19:00] nickbreaton commented on #73
Not sure if this is the original issue, but for me my test for `/\.html/` was also picking my `index.html` file from my html-webpack-plugin. Putting an `exclude: /index.html/` did it for me. You may have to adjust the exclude if you have other files names `index.html`, but the basic gist is:

[code]

[2018-03-18 14:23] mikila85 commented on #63
+1

[2018-10-16 17:46] stevenvachon commented on #77
`require('./root.html')` maybe?

[2018-11-29 23:13] seamusmalone opened #82 "not working with babel-7"
I tried to upgrade from babel-6 to babel-7 but was blocked by auto-template loader not working. At first it seems to resolve the paths differently (I had to change to a relative path) but even after than I got runtime error saying template-37 (etc) not found, so it was somehow munging the connection between the webpack (using webpack 4) cached template url and the reference in the code. Has anyone

[2019-01-01 00:09] activedecay commented on #75
you lifesaver @pjparra

[2019-01-01 08:39] SamanthaAdrichem commented on #75
I never closed this. So sorry. It worked for us too! Thnx again!

[2019-01-01 08:39] #75 closed

[2019-06-10 10:08] mddubey opened #83 "ngtemplate-loader generated code `path` variable refers to the absolute path."
Hello team,

I am using the `ngtemplate-loader` and everything works quite fine as expected, as far as I have tested. though I am finding a bit of problem in the code generated after running the webpack command.

This is how I am loading the template
[code]

This is how the generated code looks like for the template caching:

[code]

Now the value of variable `path` is absolute file location on my

[2019-11-22 15:32] adyz opened #84 "Use ngtemplate-loader with JEST transform"
Hello,

I'm new to AngularJS and I recently started working on an old codebase.

I've simplified the code in order to have the minimum required dependencies to reproduce what I'm trying to solve.

Code: https://github.com/adyz/old-angular-stuff
Install locally: `npm install`
Run locally: `npm start`
Test locally: `npm test`

My Webpack file has:

[code]
With this I am able to load a HTML template

[2019-12-11 11:03] SimonChaumet commented on #82
I have the same error, from what I saw in the code, the problem is that the app.module('ng').run is executed after app bootstrap (for me) so the function passed is not called.

[2020-02-20 14:57] dingzhanjun commented on #75
@pjparra saved my day, thanks!

[2020-03-20 15:22] moonformeli commented on #73
@nickbreaton It worked for me, thanks!

[2020-03-25 08:29] cb-eli opened #85 "Stopped working with html-loader v1.0.0"
html-loader was updated to v1.0.0 with breaking changes. Since then ngtemplate-loader is breaking my build.

Everyone have the same issue?
Somebody have a fix for that?

[2020-03-25 11:27] benochr commented on #85
Same problem here.

It seems that the output of html-loader changed in v1.0.0.

In version 0.5.5 the output looked like this:
`module.exports = "... html ...";`

In version 1.1.0 the output has changed to:
[code]

[2020-03-25 12:25] benochr commented on #85
Because of this change following code is no longer working as intended.

[code]

[2020-05-22 20:33] woram-nyansa commented on #84
Did you have any success figuring this out?

[2020-07-05 13:59] peterpoe commented on #85
Hey I have provided an alternative fix here #87 that adds compatibility with file-loader for stuff like <img src="..."> replacement

[2020-07-05 14:35] cb-eli commented on #85
@WearyMonkey can you merge, please? :)

[2020-08-31 14:20] dika-pro commented on #83
`path` is just key in memory so don't worry. `c.put` is actually `$templateCache.put`.

Check here https://docs.angularjs.org/api/ng/service/$templateCache.

[2020-08-31 14:23] dika-pro commented on #73
Is this maybe only windows problem?

[2020-08-31 15:24] DostalTomas commented on #73
No, I have linux and experiencing same issue.

[2020-09-18 13:26] lamuertepeluda commented on #63
Got it compiling with https://stackoverflow.com/questions/44889493/how-to-get-ngtemplate-loader-working-with-webpack-3-angular-1-typescript-and-e/46448698#46448698 (both answer and comment)

[2020-09-18 23:59] WearyMonkey commented on #85
Sorry for the delay, I've released it now.

[2020-09-18 23:59] #85 closed

[2021-10-26 14:34] chiptus opened #89 "Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax, instead"
I get this error `Uncaught Error: ES Modules may not assign module.exports or exports.*, Use ESM export syntax, instead` on html templates.

ref:
- https://github.com/babel/babel/issues/12731
- https://github.com/webpack/webpack/issues/12549

changing https://github.com/WearyMonkey/ngtemplate-loader/blob/master/index.js#L62 to `export default ...` fixes the issue. but then the auto-ngtemplate-load

[2021-10-28 12:49] arditdaku commented on #89
Hi there, I get the same error when I deploy my app through pm2, I check the two closed issues that are mentioned.
Here is my babel.config.js and my webpack.config.js

babel.config.js

[code]

webpack.config.js
[code]
and my ecosystem.config.js
[code]

[2021-11-04 18:23] ms185226 opened #90 "Module build failed Error: The path for file doesn't contain relativeTo param - Not able to bundle the htmls of parallel module"
I am using Webpack5 to build the below angularjs project

My project structure as below

-Editor
   - App
      - Client
         index.js
         .... HTML, js and png files
      - Logic
           .... htmls, js

I have bundled the HTML, js and png Files of Client module in Client/dist/bundle.min.js file

My index.js file of Client Module also trying to import the htmls available in Logic Modu